<view class="index">
  <view class="index-hd">
    <view class="index-desc">搜索：{{va}}</view>
  </view>
  <view class="index-bd">

   <view class="kind-list" bindtap="kindToggles">
     <block>
        <view class="kind-list-item">
        <label class="index-label index-title">
       　　宝可梦
        </label>
        <label class="index-id index-title">
          <image src="../../../image/v.png" class="{{hide}}"></image>
        </label>
        </view>
      </block>
    </view>
    <view class="kind-list" wx:if="{{pokeinfo}}">
     <block>
        <view class="kind-list-item">
        <label class="index-label index-title index-wu">
       无
        </label>
        </view>
      </block>
    </view>
    <view class="kind-list" wx:if="{{!hide}}">
     <block wx:for-items="{{searchList}}" wx:key="{{item.id}}">
        <view class="kind-list-item">
        <image class="index-logo"src="http://book.lukangkang.cc/build/images/upload1/{{item.n}}_{{item.en}}.png"></image>
        <label class="index-label">
        {{ item.name }}
        </label>
        <label class="index-id">
        {{ item.id }}
        </label>
        </view>
      </block>
    </view>

  </view>
</view>

